[submodule "external/SDL_gpu_shadercross"]
	path = external/SDL_gpu_shadercross
	url = git@github.com:libsdl-org/SDL_gpu_shadercross.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
